.cards-section {
    margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
.centered-container {
  flex: 1;
  text-align: center;
}

.card-group {
  display: -ms-grid;
  display: grid;
margin-top: 5em;

  grid-auto-columns: 5em;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  text-align: left;
}
.cards-image {
    position: relative;
    overflow: hidden;
    width: 50%;
    padding-top: 10%;

    border-radius: 0%;
  }